.social a {
    color: var(--color-text);
    transition: all 0.5s ease;
    font-size: 2rem;
    padding: 2rem;
    height: 2rem;
}

[data-theme="dark"] .social a {
    color: #ffffff;
}

/* Responsive Social icons */
@media (max-width: 992px) {
  .social a {
    font-size: 1.75rem;
    padding: 1.25rem;
  }
}

@media (max-width: 576px) {
  .social a {
    font-size: 1.5rem;
    padding: 0.75rem;
  }
}