.container {
  display: flex;
  flex-direction: column;
}

.section-heading,
.section-text{
    font-family: "Ubuntu Sans Mono", monospace;
    margin-bottom: 5rem;
}

.section-heading{
    font-weight: 500 !important;
    font-size: 5rem !important;
    text-transform: lowercase;
    line-height: normal!important;
}

section{
    margin: 6rem 0;
    width: 100%;
}

.section-text{
    font-weight: 300;
    font-size: 1.2rem;
    margin: 0;
}